:root {
  --background: #030001;
  --peach: #8f78e2;
  --white: #ffffff;
}

header {
  background-color: var(--peach);
  color: var(--background);
}

#title {
  font-family: "DM Serif Display", serif;
  font-size: 2rem;
  padding: 40px 0px 40px 0px;
  text-align: center;
  text-transform: uppercase;
}
